<nav data-topbar role="navigation">
  <ul class="right">
    {{#if sessionToken}}
      <a id="logout" class="button tiny">Logout</a>
    {{else}}
      <a data-reveal-id="login" class="button tiny" >Log in</a>
      <a data-reveal-id="register" class="button tiny" >Register</a>
      <div id="login" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <label for="">User name:</label>
        <input type="text" id="loginUsername"/>
        <label for="">Password:</label>
        <input type="password" id="loginPassword"/>
        <a id="loginButton" class="button tiny login">Login</a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <div id="register" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <label for="username">User name:</label>
        <input type="text" id="username"/>
        <label for="password">Password:</label>
        <input type="password" id="password"/>
        <label for="confirm-password">Confirm password:</label>
        <input type="password" id="confirm-password"/>
        <label for="email">Email</label> <input type="email" id="email"/>
        <a id="registerButton" class="button tiny login">Register</a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    {{/if}}
  </ul>
</nav>