<nav data-topbar role="navigation">
  <ul class="right">
    {{#if sessionToken}}
      {{#if admin}}
        <a href="#/admin/viewUsers" class="button tiny">View Users</a>
        <a href="#/admin/viewQuestions" class="button tiny">View Questions</a>
        <a href="#/admin/viewAnswers" class="button tiny">View Answers</a>
        <a href="#/admin/viewTags" class="button tiny">View Tags</a>
      {{/if}}
      {{#if user}}
        <a href="#/user/{{objectId}}" class="button tiny radius">My Profile</a>
      {{/if}}
        <a id="logout" class="button tiny radius">Logout</a>
    {{else}}
      <a data-reveal-id="login" class="button tiny radius" >Log in</a>
      <a data-reveal-id="register" class="button tiny radius" >Register</a>
    <form id="loginForm">
      <div id="login" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <input type="text" id="loginUsername" placeholder="Username"/>
        <input type="password" id="loginPassword" placeholder="Password"/>
        <input type="button" value="Log In" id="loginButton" class="button">
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </form>

    <form action="" id="registerForm">
      <div id="register" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <input type="text" id="username" placeholder="Username"/>
        <input type="password" id="password" placeholder="Password"/>
        <input type="password" id="confirm-password" placeholder="Confirm Password"/>
        <input type="email" id="email" placeholder="Email"/>
        <a id="registerButton" class="button">Register</a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </form>
    {{/if}}
  </ul>
  <div class="large-5 columns" id="searchDiv">
    <select name="searchFilter" class="radius" id="searchFilter">
      <option>Search by</option>
      <option value="Tag">Tag</option>
      <option value="Question">Question</option>
      <option value="Answer">Answer</option>
    </select>
    <input type="text" placeholder="Search" class="radius" id="searchBar">
    <button type="button" class="button tiny radius" id="searchBarButton"><i class="fi-magnifying-glass size-18"></i></button>
  </div>
</nav>