<div class="options-block-controls clearfix">
	<a class="reveal-options-block button tiny">Add New Question</a>
	<a class="hide-options-block button tiny right hide">&cross;</a>
</div>

<div class="options-block panel hide clearfix">
	<label>Title:</label>
	<input type="text" name="new-question-title" placeholder="Question title..."></input>
	<label>Content:</label>
	<textarea name="new-question-content" placeholder="Question content..."></textarea>
	<label>Tags:</label>
	<input type="text" name="new-question-tags" placeholder="Tags..."></input>
	<div class="new-question-controls right">
		<a class="post-new-question button tiny">Post Question</a>
	</div>
</div>