{{#each questions}}
<div data-id="{{objectId}}">
	<div class="panel question">
		{{#ifEquals ../userData.role.name "admins"}}
            <a id="deleteQuestionButton" class="button right tiny alert radius">Delete</a>
            <a id="editQuestionButton" class="button right tiny info radius">Edit</a>
        {{else}}
        {{#ifEquals ../../userData.role.name "users"}}
            {{#ifEquals postedBy.objectId ../../../userData.objectId}}
                <a id="deleteQuestionButton" class="button right tiny alert radius">Delete</a>
                <a id="editQuestionButton" class="button right tiny info radius">Edit</a>
            {{/ifEquals}}
        {{/ifEquals}}
		{{/ifEquals}}
		<h2 class="large-10 questionTitle"><a href="#/question/{{objectId}}">{{title}}</a></h2>
		<p class="questionParagraph large-10" >{{questionText}}</p>
		<div id="questionInfo">
		<span>Tags:
		</span>
		{{#each tags}}
		 {{#if @first}} 
		 	<span class="secondary radius label"><a href="#/search/by=tag/text={{this}}">{{this}}</a></span>
		 {{else}} 
		 	, <span class="secondary radius label"><a href="#/search/by=tag/text={{this}}">{{this}}</a></span>
		 {{/if}}
		 {{/each}}
		<p>author:
            <a href="#/user/{{postedBy.objectId}}"> {{postedBy.username}}</a>
            <span class="right"><i class="fi-comment size-18"></i> Answers:
                {{#if answers}}
                {{answers.length}} 
                {{else}} 0
                {{/if}}
            <i class="fi-eye"></i> Visits: {{visits}}
			</span>
        </p>
			 </div>
	</div>
</div>
{{/each}}
<div class="clearfix">
	<ul class="pagination">
		<li class="arrow left {{previousStatus}}">
			<a href="#/{{url}}page={{previous}}">&laquo;</a>
		</li>
		<li class="arrow right {{nextStatus}}">
			<a href="#/{{url}}page={{next}}">&raquo;</a>
		</li>
	</ul>
</div>