{{#each questions}}
<div data-id="{{objectId}}">
	<div class="panel question">
		<h2 class="large-10 questionTitle"><a href="#/question/{{objectId}}">{{title}}</a></h2>
		<p class="questionParagraph large-10" >{{questionText}}</p>
		<p>postedBy:<a href="#/"> {{postedBy.username}}</a></p>
	</div>
</div>
{{/each}}
<div class="clearfix">
	<ul class="pagination">
		<li class="arrow left {{previousStatus}}">
			<a href="#/{{url}}page={{previous}}">&laquo;</a>
		</li>
		<li class="arrow right {{nextStatus}}">
			<a href="#/{{url}}page={{next}}">&raquo;</a>
		</li>
	</ul>
</div>