<div id="questionEdit" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<form autocomplete="off">
		<h2>Question title</h2>
		<input id="questionTitle" name="questionTitle" type="text">
		<h2>Question text</h2>
		<textarea id="questionText" name="questionText"></textarea>
		<div class="tagsArea">
			<section class="addedTags">
				<span>Tags :</span>
			</section>
			<section class="text-center">
				<input id="tagInputEdit" type="text"/>
				<button id="editTagButton" class="button tiny radius" type="button">Add Tag</button>
			</section>
		</div>
		<div data-alert class="alert-box info radius" style="display: none" id="questionEditedSuccess">
			Question edited.
			<a href="#" class="close">&times;</a>
		</div>
		<input id="saveQuestionButton" class="button medium radius right" type="submit" value="Save Changes">
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</form>
</div>