<div class="options-block-controls clearfix">
	<a class="reveal-options-block button tiny">Add New Question</a>
</div>

<div class="options-block panel hide clearfix">
	<input type="text" name="new-question-title" placeholder="Question title...">
	<textarea name="new-question-content" placeholder="Question content..."></textarea>
	<input type="text" name="new-question-tags" placeholder="Tags...">
	<div class="new-question-controls right">
		<a class="post-new-question button tiny">Post Question</a>
	</div>
</div>