<div data-id="{{objectId}}">
	<h2 class="text-center">{{data.title}}</h2>
	<div class="options-block-controls clearfix">
		<a class="reveal-options-block button tiny">Add New Question</a>
	</div>

	<div id="createQuestionBox" class="panel clearfix">
		<label>Title:</label>
		<input type="text" name="new-question-title" placeholder="Question title..."></input>
		<label>Content:</label>
		<textarea name="editor" id="editor" placeholder="Question content..."></textarea>
		<label>Tags:</label>
		<input type="text" name="new-question-tags" placeholder="Tags..."></input>
		<div class="right">
			<a class="post-button button tiny">Post</a>
			<a class="dismiss-button button tiny">Dismiss</a>
		</div>
	</div>
	<div class="questionsBody">
		
	</div>
</div>