<div class="category-container" data-id="{{data.objectId}}">
	<h4 class="category-heading"><span class="lobster">Category:</span> {{data.title}}</h4>
    {{#if data.user.sessionToken}}
	<div class="options-block-controls clearfix">
		<a class="reveal-options-block button tiny radius">Add New Question</a>
	</div>

	<form id="createQuestionBox" class="panel clearfix" autocomplete="off">
		<input type="text" name="new-question-title" placeholder="Question title..." minLength="10" maxlength="50" required/>
		<textarea name="editor" id="editor" placeholder="Question content..."></textarea>
		<!-- <input type="text" name="new-question-tags" placeholder="Tags..." disabled /> -->
		<div class="tagsArea">
			<section class="addedTags">
				<span>Tags :</span>
			</section>
			<section class="text-center">
				<input type="text" id="tagInput" />
				<button class="button tiny radius" type="button" id="tagButton">Add Tag</button>
				<button class="button tiny alert radius" type="button" id="tagRemove">Remove Last Tag</button>
			</section>
		</div>
		<div class="right">
			<input type="submit" value="Post" class="post-button button tiny radius"></a>
			<a class="dismiss-button button alert tiny radius">Dismiss</a>
		</div>
	</form>
    {{/if}}
	<div class="questionsBody">
		
	</div>
</div>