<div class="question-container" data-id="{{questionData.objectId}}">
	<div class="panel question">
	{{#ifEquals userData.role.name "admins"}}
            <a class="button right tiny alert radius deleteQuestionButton">Delete</a>
            <a data-reveal-id="questionEdit" class="button right tiny info radius editQuestionButton">Edit</a>
        {{else}}
        {{#ifEquals userData.role.name "users"}}
            {{#ifEquals questionData.postedBy.objectId userData.objectId}}
                <a class="button right tiny alert radius deleteQuestionButton">Delete</a>
                <a data-reveal-id="questionEdit" class="button right tiny info radius editQuestionButton">Edit</a>
            {{/ifEquals}}
        {{/ifEquals}}
		{{/ifEquals}}
		<h2 class="questionTitle">{{questionData.title}}</h2>
		<p>{{{questionData.questionText}}}</p>
		<div id="questionInfo">
			<span>tags: </span>
			{{#each questionData.tags}}
			{{#if @first}} 
				<span class="secondary radius label"><a href="#/search/by=tag/text={{this}}">{{this}}</a></span>
			{{else}} 
				, <span class="secondary radius label"><a href="#/search/by=tag/text={{this}}">{{this}}</a></span>
			{{/if}}
			{{/each}}
			<p>author:<a href="#/user/{{questionData.postedBy.objectId}}"> {{questionData.postedBy.username}}</a></p>
		</div>
	</div>
	{{#each answersData}}
	<div class="panel answer" data-id="{{objectId}}">
		{{#ifEquals ../userData.role.name "admins"}}
            <a class="button right tiny alert radius deleteAnswerButton">Delete</a>
            <a data-reveal-id="answerEdit" class="button right tiny info radius editAnswerButton">Edit</a>
        {{else}}
        {{#ifEquals ../../userData.role.name "users"}}
            {{#ifEquals postedBy.objectId ../../../userData.objectId}}
                <a class="button right tiny alert radius deleteAnswerButton">Delete</a>
                <a data-reveal-id="answerEdit" class="button right tiny info radius editAnswerButton">Edit</a>
            {{/ifEquals}}
        {{/ifEquals}}
		{{/ifEquals}}
		<p class="answerParagraph large-8">{{{answerText}}}</p>
		{{#if author}}
		<p>author:<a href="#/"> {{author}}</a></p>
		{{else}}
		<p>author:<a href="#/user/{{postedBy.objectId}}"> {{postedBy.username}}</a></p>
		{{/if}}

	</div>
	{{/each}}

	<div class="answer-block-controls">
		<a class="reveal-answer-block button tiny radius">Add Answer</a>
	</div>
	<form id="createAnswerBox" class="panel clearfix" autocomplete="off">
		{{#unless userData.sessionToken}}
		<input type="text" class="answer-author" placeholder="Name" minLength="4" required></input>
        <input type="email" class="answer-email" placeholder="E-mail" email=></input>
		{{/unless}}
		<label>Answer:</label>
		<textarea name="editor" id="editor" placeholder="Answer content..."></textarea>
		<div data-alert class="alert-box info radius" style="display: none" id="answerSuccessfullyPosted">
			Answer posted successfully.
			<a href="#" class="close">&times;</a>
		</div>
		<div class="new-question-controls right clearfix">
			<input type="submit" value="Post" class="post-button button tiny radius"/>
			<a class="dismiss-button button alert tiny radius">Dismiss</a>
		</div>
	</form>

	<div class="clearfix">
		<ul class="pagination">
			<li class="arrow left {{previousStatus}}">
				<a href="#/{{url}}page={{previous}}">&laquo;</a>
			</li>
			<li class="arrow right {{nextStatus}}">
				<a href="#/{{url}}page={{next}}">&raquo;</a>
			</li>
		</ul>
	</div>
</div>