<div class="question-container" data-id="{{data.questionData.objectId}}">
	<div class="panel question">
		<h2 class="large-8 questionTitle">{{data.questionData.title}}</h2>
		<p class="fullQuestionParagraph large-4" >{{data.questionData.questionText}}</p>
		<p>postedBy:<a href="#/"> {{data.questionData.postedBy.username}}</a></p>
	</div>
	{{#each data.answersData}}
	<div class="panel">
		<p class="answerParagraph large-8">{{answerText}}</p>
		<p>postedBy:<a href="#/"> {{author}}</a></p>
	</div>
	{{/each}}

	<div class="answer-block-controls">
		<a class="reveal-answer-block button tiny">Add Answer</a>
	</div>
	<div id="createAnswerBox" class="panel clearfix">
		{{#unless data.userData.sessionToken}}
		<input type="text" class="answer-author" placeholder="Name"></input>
        <input type="email" class="answer-author" placeholder="E-mail"></input>
		{{/unless}}
		<label>Answer:</label>
		<textarea name="editor" id="editor" placeholder="Answer content..."></textarea>
		<div class="new-question-controls right clearfix">
			<a class="post-button button tiny">Post</a>
			<a class="dismiss-button button alert tiny">Dismiss</a>
		</div>
	</div>
</div>