html {
    overflow-y: scroll; 
}

@font-face {
    font-family: 'Lobster';
    src: url(fonts/Lobster%201.4.otf);
}

.lobster{
    font-family: 'Lobster';
}

.question, .questionTitle{
    background-color: #fdfdfe;
    font-family: 'PT Sans';
}

body{
    background: #E7ECEA;
}
.panel{
    border-radius: 3px;
    -webkit-box-shadow: 1px 0.5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0.5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0.5px 5px 0px rgba(0,0,0,0.75);
}
#header{
    height: 8em;
}
h1 a {
    color: #333;
    transition: color .3s;
}

p {
    font-size: 1.1em;
}

.questionParagraph{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fullQuestionParagraph {
    width: 100%;
}

.category-heading {
    padding: 1%;
}

.top-bar{
    background-color: #ccc;
}

a.#loginButton, a.#registerButton {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.new-question-controls {
    margin-top: 1.25rem;
}

.accordion {
    margin: 0;
}

.accordion .accordion-navigation > a {
    padding: .4rem;
    background: none;
    transition: background-color .3s;
}

textarea {
    min-height: 5em;
}

