@font-face {
    font-family: 'Lobster';
    src: url(fonts/Lobster%201.4.otf);
}

.lobster{
    font-family: 'Lobster';
}

.panel{
    border-radius: 3px;
    -webkit-box-shadow: 1px 0.5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0.5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0.5px 5px 0px rgba(0,0,0,0.75);
}

.lobster{
    font-family: 'Lobster';
}

h1 a{
    color: #333;
    transition: color .3s;
}

.questionParagraph{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.question{
    background-color: #fdfdfe;
    font-family: 'PT Sans';

}
p{
    font-size: 1.1em;
}
.questionTitle{
    font-family: 'PT Sans';
}

.large-12 {
    width: 101.5%;
}

.top-bar{
    background-color: #ccc;
}

#loginButton, #registerButton {
    display: block;
    width: 30%;
    margin: 0 auto;
}